apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "cas-ggircs.fullname" . }}
  labels:
    component: app
{{ include "cas-ggircs.labels" . | indent 4 }}

spec:
  replicas: {{ .Values.replicas }}
  selector:
    name: {{ template "cas-ggircs.fullname" . }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      component: app
{{ include "cas-ggircs.selectorLabels" . | indent 6 }}
  template:
    metadata:
      labels:
        component: app
{{ include "cas-ggircs.labels" . | indent 8 }}
    spec:
      initContainers:
{{- if (index .Values "trigger-ggircs-deploy-db" "enabled") }}
      - env:
          {{- include "cas-ggircs.databaseEnvVars.ggircsUser" . | nindent 10 }}
          - name: SQITCH_TARGET
            value: "db:pg:"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
        name: {{ template "cas-ggircs.fullname" . }}-schema-deploy-data
        image: {{ .Values.image.schema.repository }}:{{ default .Values.defaultImageTag .Values.image.schema.tag }}
        imagePullPolicy: {{ default .Values.defaultImagePullPolicy .Values.image.schema.pullPolicy }}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        command:
          - /usr/bin/env
          - bash
          - -c
          - |
            set -euo pipefail;
            pushd schema;
            while [ "$(sqitch status | tail -1)" != "Nothing to deploy (up-to-date)" ]; do
              echo "Waiting 10s for migrations to complete..."
              sleep 10;
            done;
{{- else }}
        []
{{- end }}
      containers:
      - name: {{ template "cas-ggircs.fullname" . }}
        imagePullPolicy: {{ default .Values.defaultImagePullPolicy .Values.image.app.pullPolicy }}
        image: {{ .Values.image.app.repository }}:{{ default .Values.defaultImageTag .Values.image.app.tag }}
        env:
          - name: SESSION_SECRET
            valueFrom:
              secretKeyRef:
                key: session-secret
                name: {{ template "cas-ggircs.fullname" . }}-app
          - name: PGUSER
            valueFrom:
              secretKeyRef:
                key: database-app-user
                name: {{ template "cas-ggircs.fullname" . }}-app
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                key: database-app-password
                name: {{ template "cas-ggircs.fullname" . }}-app
          - name: PGDATABASE
            value: null
            valueFrom:
              secretKeyRef:
                key: dbname
                name: {{ .Values.database.releaseName }}-{{ .Values.database.chartName }}-pguser-{{ .Values.database.user}}
          - name: PGPORT
            value: null
            valueFrom:
              secretKeyRef:
                key: pgbouncer-port
                name: {{ .Values.database.releaseName }}-{{ .Values.database.chartName }}-pguser-{{ .Values.database.user}}
          - name: PGHOST
            value: null
            valueFrom:
              secretKeyRef:
                key: pgbouncer-host
                name: {{ .Values.database.releaseName }}-{{ .Values.database.chartName }}-pguser-{{ .Values.database.user}}
          - name: PORT
            value: {{ .Values.app.port | quote }}
          - name: SITEWIDE_NOTICE
            value: {{ .Values.app.sitewide_notice.content | quote }}
          - name: SUPPORT_EMAIL
            value: {{ .Values.app.env.supportEmail }}
          - name: HOST
            value: https://{{ .Values.app.route.host }}
          - name: ECCC_FILE_BROWSER_HOST
            value: http://{{ template "cas-ggircs.fullname" . }}-swrs-gcp-api
          - name: ECCC_FILE_BROWSER_PORT
            value: {{ .Values.swrsGcpApi.port | quote }}
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: KC_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: keycloak-gold-client-secret
                key: kcClientSecret
        ports:
        - containerPort: {{ .Values.app.port }}
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ready
            port: {{ .Values.app.probesPort }}
          # we want the readiness threshold to fail fast,
          # to prevent any request from going to a pod that is not ready
          failureThreshold: 1
          successThreshold: 1
          periodSeconds: 5
          timeoutSeconds: 5
          initialDelaySeconds: 5
        livenessProbe:
          # the liveness probe is here to ensure that a pod does not get
          # stuck in a shutdown state. It needs to allow enough time for
          # the registered shutdown handler to run to completion.
          httpGet:
            path: /live
            port: {{ .Values.app.probesPort }}
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
          successThreshold: 1
          timeoutSeconds: 5
        resources:
{{ toYaml .Values.resources | indent 10 }}
        securityContext:
          capabilities: {}
          privileged: false
        terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
