apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ template "cas-ggircs.fullname" . }}
  labels: {{ include "cas-ggircs.labels" . | nindent 4 }}
  annotations:
    haproxy.router.openshift.io/ip_whitelist: 142.22.0.0/16 142.23.0.0/16 142.24.0.0/16 142.25.0.0/16 142.26.0.0/16 142.27.0.0/16 142.28.0.0/16 142.29.0.0/16 142.30.0.0/16 142.31.0.0/16 142.32.0.0/16 142.33.0.0/16 142.34.0.0/16 142.35.0.0/16 142.36.0.0/16
spec:
  host: {{ .Values.app.route.host }}
  port:
    targetPort: {{ template "cas-ggircs.fullname" . }}
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
  to:
    kind: Service
    name:  {{ template "cas-ggircs.fullname" . }}
    weight: 100
  wildcardPolicy: None
status:
  ingress:
    - host: {{ .Values.app.route.host }}
      routerName: default
      wildcardPolicy: None
      routerCanonicalHostname: apps.silver.devops.gov.bc.ca
