apiVersion: v1
kind: Service
metadata:
  name: {{ template "cas-ggircs.fullname" . }}
  labels:
{{ include "cas-ggircs.labels" . | indent 4 }}

spec:
  ports:
  - name: {{ template "cas-ggircs.fullname" . }}
    port: {{ .Values.app.port }}
    protocol: TCP
    targetPort: 3000
  selector: {{ include "cas-ggircs.selectorLabels" . | nindent 4 }}
    component: app
  sessionAffinity: None
  type: ClusterIP
