apiVersion: v2
name: cas-ggircs
description: Helm chart for the GGIRCS database and ETL
type: application
version: 0.3.0
appVersion: 1.21.0
dependencies:
  - name: cas-airflow-dag-trigger
    version: 1.2.2
    repository: https://bcgov.github.io/cas-airflow
    alias: download-ggircs-dags
    condition: download-ggircs-dags.enabled
  - name: cas-airflow-dag-trigger
    version: 1.2.2
    repository: https://bcgov.github.io/cas-airflow
    alias: download-swrs-dags
    condition: download-swrs-dags.enabled
  - name: cas-airflow-dag-trigger
    version: 1.2.2
    repository: https://bcgov.github.io/cas-airflow
    alias: trigger-ggircs-deploy-db
    condition: trigger-ggircs-deploy-db.enabled
  - name: terraform-bucket-provision
    version: "0.1.3"
    repository: https://bcgov.github.io/cas-pipeline/
