pgtap
.idea
.vscode
data/*
__pycache__
.pytest_cache
helm/**/charts
node_modules
.scratch/
.DS_Store


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store

# Terraform cache and files from local and migration runs
.terraform/
*.tfstate
*.tfvars
.terraform.lock.hcl
credentials.json
terraform/*.sh
