{
  "presets": ["next/babel"],
  "plugins": [
    ["relay"],
    [
      "module-resolver",
      { "root": [".", ".."], "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    ["prismjs", {
      "languages": ["xml-doc"],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }],
    "macros"
  ]
}
